@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.formulaireCompte{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center mb-4{
    font-family: 'Bebas Neue'!important;
}